/* nejsme vcerejsi, pouzivame moderni box model */
html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
 https://fonts.google.com/specimen/Roboto
*/

body {
    padding: 0;
    margin: 0;
    background-color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.obal {
    width: 960px;
    /* obsah stránky je omezený do pruhu širokého 960px */
    margin: 0 auto;
    /* pruh je na stránce vycentrovaný */
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

* {
    margin: 0;
    padding: 0;
}


a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: black;
    text-decoration: none;


}

li {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 0.75rem;
    color: black;
    text-decoration: none;


}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 200px 200px;


}

.items {
    list-style: none;
    padding: 10px;
}

.items li {
    display: inline-block;
    padding: 0px 30px;

}

.items li a {
    transition: all 0.3s ease 0s;
}

.items li a:hover {
    color: #25133d;
}

.logo a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    color: #25133d;
    font-size: 0.8rem;

}

.background-page {

    max-width: 100%;
    background-size: contain, cover;



}

.phone {
    position: absolute;
    bottom: 0;
    right: 0;

}

.body {
    position: relative;

}

.main-title {
    position: absolute;
    top: 15%;
    left: 10%;
    font-size: 4rem;
    background-size: contain, cover;
    color: white;
    font-weight: 400;
}

.second-title {
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: 1.5rem;
    background-size: contain, cover;
    color: white;
    font-weight: 300;

}

.button {
    position: absolute;
    top: 65%;
    left: 10%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #48418e;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;

}


.button:hover {
    background-color: #47418e00;
}

.button2 {
    position: absolute;
    top: 65%;
    left: 35%;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #47418e00;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;

}


.button2:hover {
    background-color: #47418e00;
}



.boxes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;

}

.boxes img {
    max-width: 10%;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card {
    flex: 0 0 200px;
    margin: 10px;

}

.card img {
    max-width: 50%;
}

.card .text {
    padding: 0 20px 20px;
}


article {
    text-align: center;
    ;
}

.text-footer {
    color: #e5e5e5;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 300;
    background-color: #48418e;
    text-align: center;
    font-size: 0.75rem;

}