h1 {
    font-size: 2rem;
    font-family: 'Mansalva', cursive;
    font-style: italic;
    color: #c51499;
    line-height: normal;
}

h2 {
    font-size: 1.5rem;
    font-family: 'Mansalva', cursive;
    font-style: italic;
    color: #c51499;
    line-height: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-size: 1rem;
    line-height: inherit;
}

p:first-letter {
    line-height: 0.8;
    font-size: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #c51499;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-family: 'Mansalva', cursive;
    font-style: italic;

}

a:hover {
    color: white;
    background: #c51499;
}

.main-footer {
    background: #d46ebb;

}

.main-footer li {
    list-style-type: none;
}

.base-section {
    margin-bottom: 30px;
    margin-top: 30px;
}